<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>WYLSK?</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

</head>

<body>

<div id="greetings" class="centered" v-if="meta.visible">
    <h1 class="centered" style="color: crimson">WOULD YOU LIKE SOME KITTENS???</h1><br>
    <h1 class="centered" style="color: darkorange">GET READY!!!</h1><br>
    <h2 class="centered" style="color: dodgerblue" @click="onClick">
        (Pss, click me, bro)
    </h2>
</div>

<canvas id="canvas"
        class="centered"
        v-if="meta.visible"
        :width="meta.width"
        :height="meta.height"
        style="border: 2px solid dodgerblue"
        @mousedown="onKeyDown($event)"
        @mouseup="onKeyUp($event)">
</canvas>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="index.js"></script>

</body>

</html>